body{ margin: 0; padding:0; background-color: #efefef !important; }
.App {
	
}

header {
  background-color: #222;
  color: white;
  border:1px solid #333;
}

.App-title {
  font-size: 1em;
  padding: 10px 18px;
}
.container { margin:0; padding: 16px 0; background-color: #fbfbfb; }

.list-group li { cursor: pointer; padding:8px 12px;  }
.listStyle01 { height: 416px; overflow: auto; background-color: #fff; border: 1px solid rgba(0,0,0,.125); border-radius: 3px;  margin-bottom: 14px; }
.listStyle01 .list-group-item { border-left: 0; border-right:0; }
.listStyle01 .list-group .list-group-item:last-child { border-bottom: none; }
.listStyle01 .list-group .list-group-item:first-child { border-top: none; }

.paginationStyle01 .actionBtn { float: right; width: 120px;  }
.paginationStyle01 .pagnInfo { float: left; width: 150px; padding: 10px 0 0 0; font-size: .9em; color: #666; }
.paginationStyle01 .pagination li a[disabled] { background-color: #efefef; cursor: auto;  }
.profileDetails { background-color: #fff; height: 416px; width: 100%; overflow: auto; border: 1px solid rgba(0,0,0,.125); border-radius: 3px; padding: 10px 16px;  }

.profilePic { width: 256px; height: 256px; float:left; }
.profPrimaryInfo { float: left; width: 50%; }

.rowSytlw01 { padding: 10px 20px; font-style: italic; }

.loadingStyle01 { text-align: center; padding: 160px 0 0 0; }

